<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj Opiekunkę</title>
</head>
<body>
    <h1>Edytuj opiekunkę</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Zapisz zmiany</button>
    </form>
    <a href="{% url 'usun_opiekunke' opiekunka.id %}">Usuń</a><br>
    <a href="{% url 'lista_opiekunek' %}">Wróć do listy</a>
</body>
</html>
