<!DOCTYPE html>
<html lang="pl">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="{% static 'scripts/navbar.js' %}"></script>
    <title>Twoje ogłoszenie</title>
</head>

<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" id="navbar-burger" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'strona_domowa' %}">Strona Domowa</a>
                <a class="navbar-item" href="{% url 'ogloszenia' %}">Ogłoszenia</a>
                {% if show_login_register %}
                {% else %}
                    <a class="navbar-item" href="{% url 'lista_opiekunek' %}">Moje ogłoszenie</a>
                {% endif %}
            </div>
            <div class="navbar-end">
                {% if show_login_register %}
                    <a class="navbar-item" href="{% url 'logowanie' %}">Zaloguj się</a>
                    <a class="navbar-item" href="{% url 'rejestracja' %}">Zarejestruj się</a>
                {% else %}
                    <a class="navbar-item" href="{% url 'wylogowanie' %}">Wylogowanie</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="content">
        <h1>Moje Ogłoszenie</h1>
        <ul>
            {% for opiekunka in opiekunki %}
                <li>
                    {{ opiekunka.imie }} {{ opiekunka.nazwisko }}
                    <a href="{% url 'edytuj_opiekunke' opiekunka.id %}">Edytuj</a>
                    <a href="{% url 'usun_opiekunke' opiekunka.id %}">Usuń</a>
                </li>
            {% empty %}
                <a href="{% url 'dodaj_opiekunke' %}">Dodaj swoje ogłoszenie</a><br>
            {% endfor %}
        </ul>
    </div>
</body>
</html>