<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Opiekunek</title>
</head>
<body>
    <h1>Lista Opiekunek</h1>
    <a href="{% url 'dodaj_opiekunke' %}">Dodaj nową opiekunkę</a><br>
    <ul>
        {% for opiekunka in opiekunki %}
            <li>
                {{ opiekunka.imie }} {{ opiekunka.nazwisko }} - {{ opiekunka.opis }}
                <a href="{% url 'edytuj_opiekunke' opiekunka.id %}">Edytuj</a>
                <a href="{% url 'usun_opiekunke' opiekunka.id %}">Usuń</a>
            </li>
        {% empty %}
            <li>Brak opiekunek do wyświetlenia.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'strona_domowa' %}">Powrót</a>
</body>
</html>
